[default]
pattern = .*
xFilesFactor = 0.1
aggregationMethod = average

[all_min]
pattern = \.min$
xFilesFactor = 0.1
aggregationMethod = min

[all_max]
pattern = \.max$
xFilesFactor = 0.1
aggregationMethod = max
