/**
 * The ApiUser objects are used for authentication against the API.
 */

object ApiUser "root" {
  password = "{{ icinga2_api_root_password }}"
  // client_cn = ""

  permissions = [ "*" ]
}

object ApiUser "icingaweb2" {
  password = "{{ icinga2_api_web_password }}" // Change this!
  permissions = [ "status/query", "actions/*", "objects/modify/*", "objects/query/*" ]
}
