[submodule "roles/n0emis.base"]
	path = roles/n0emis.base
	url = https://github.com/n0emis/ansible-role-base
[submodule "roles/gantsign.oh-my-zsh"]
	path = roles/gantsign.oh-my-zsh
	url = https://github.com/gantsign/ansible-role-oh-my-zsh/
[submodule "roles/geerlingguy.nginx"]
	path = roles/geerlingguy.nginx
	url = https://github.com/geerlingguy/ansible-role-nginx
[submodule "roles/geerlingguy.php"]
	path = roles/geerlingguy.php
	url = https://github.com/geerlingguy/ansible-role-php
[submodule "roles/mrlesmithjr.openldap"]
	path = roles/mrlesmithjr.openldap
	url = https://github.com/n0emis/ansible-openldap
[submodule "roles/geerlingguy.redis"]
	path = roles/geerlingguy.redis
	url = https://github.com/geerlingguy/ansible-role-redis
[submodule "roles/em0lar.traefik"]
	path = roles/em0lar.traefik
	url = https://github.com/em0lar/ansible-role-traefik
[submodule "roles/cloudalchemy.grafana"]
	path = roles/cloudalchemy.grafana
	url = https://github.com/cloudalchemy/ansible-grafana
[submodule "roles/n0emis.wireguard"]
	path = roles/n0emis.wireguard
	url = https://github.com/n0emis/ansible-wireguard
