{% for host in icinga2_zones.primary.endpoints %}
object Service "cluster" {
    check_command = "cluster"
    check_interval = 5s
    retry_interval = 1s

    host_name = "{{ host }}"
    command_endpoint = host_name
}

{% endfor %}

apply Service "ido-mysql" {
    check_command = "ido"

    vars.ido_type = "IdoMysqlConnection"
    vars.ido_name = "ido-mysql" // the name defined in /etc/icinga2/features-enabled/ido-mysql.conf

    command_endpoint = host.name

    assign where host.zone == "primary"
}
