{% for host in icinga2_zones.primary.endpoints %}
object Host "{{ host }}" {
    import "generic-host"
    check_command = "hostalive"
    address = "{{ host }}"
    address6 = "{{ hostvars[host].ansible_default_ipv6.address }}"
}

{% endfor %}

object Host "virgil.altenforst.de" {
    address = name

    check_command = "ping4"

    vars.http_checks = [{
        "address" = "$address$",
        "vhost" = "www.altenforst.de",
        "url" = "/"
    }]
}
