{% for host in icinga2_zones.primary.endpoints %}
object Host "{{ host }}" {
    import "agent-host"
    address6 = "{{ hostvars[host].ansible_default_ipv6.address }}"
}

{% endfor %}
object Host "virgil.altenforst.de" {
    import "generic-host"

    check_interval = 10m
    retry_interval = 2m

    vars.http_checks = [{
        "address" = "$address$",
        "vhost" = "www.altenforst.de",
        "url" = "/"
    }]
}
