object Host "mars.het.nue.de.fahrplandatengarten.de" {
    import "generic-host"
    check_command = "hostalive"
    address = name
    vars.agent_endpoint = name

    vars.celery_broker = "{{ fdg_celery_broker_url }}"
    vars.celery_warning = 5
    vars.celery_critical = 2

    vars.http_checks = [{
        "address" = "$address$",
        "vhost" = "fahrplandatengarten.de",
        "url" = "/verspaeti"
    }]
}
