object Host "mars.het.nue.de.fahrplandatengarten.de" {
    import "agent-host"

    vars.os_type = "Debian"
    vars.borgmatic_backup_max_hours = 26

    vars.celery_broker = "{{ fdg_celery_broker_url }}"
    vars.celery_warning = 5
    vars.celery_critical = 2
    vars.celery_tasks_warning = 1000
    vars.celery_tasks_critical = 1500

    vars.http_vhosts = {
        "web" = {
            "address" = "$address$",
            "vhost" = "fahrplandatengarten.de",
            "url" = "/verspaeti"
        }
    }

    vars.dig_checks = {
        "local" = {
            "expected_address" = "2a01:4f8:c0c:c683::1"
        }
    }
    vars.dig_cloudflare_checks = {
        "local" = {
            "expected_address" = "2a01:4f8:c0c:c683::1"
        }
    }
    vars.dig_google_checks = vars.dig_cloudflare_checks
}
