dyn_o_mite:
    datacenter: dc
    rack: {{ ansible_hostname }}
    dyn_listen: {{ ha_node_address }}:8101
    dyn_seeds:
{% for host in primary_hosts if host != ansible_fqdn %}
    - {{ hostvars[host].ha_node_address }}:8101:{{ hostvars[host].ansible_hostname }}:dc:1383429731
{% endfor %}
    listen: 127.0.0.1:6380
    servers:
    - 127.0.0.1:6379:1
    tokens: '1383429731'
    secure_server_option: datacenter
    pem_key_file: conf/dynomite.pem
    data_store: 0
    read_consistency : DC_SAFE_QUORUM
    write_consistency : DC_SAFE_QUORUM
