object Host "janus.ion.rhr.de.labcode.de" {
    import "agent-host"

    vars.os_type = "Debian"
    vars.borgmatic_backup_max_hours = 26

    address6 = name

    vars.memory_critical = 90
    vars.memory_warning = 80

    vars.dig_cloudflare_checks = {
        "local" = {
            "expected_address" = "2001:8d8:1800:30a::1"
        }
    }
    vars.dig_google_checks = vars.dig_cloudflare_checks
}
