object Host "himalia.ion.rhr.de.n0emis.eu" {
    import "agent-host"

    vars.os_type = "Debian"

    vars.dig_checks = [{
        "expected_address" = "2001:8d8:1800:30e::1"
    }]
    vars.dig_cloudflare_checks = [{
        "expected_address" = "2001:8d8:1800:30e::1"
    }]
    vars.dig_google_checks = vars.dig_cloudflare_checks
}
