/*
 * Service apply rules.
 *
 * The CheckCommand objects `ping4`, `ping6`, etc
 * are provided by the plugin check command templates.
 * Check the documentation for details.
 *
 * Tip: Use `icinga2 object list --type Service` to
 * list all service objects after running
 * configuration validation (`icinga2 daemon -C`).
 */

/*
 * These are generic `ping4` and `ping6`
 * checks applied to all hosts having the
 * `address` resp. `address6` attribute
 * defined.
 */
apply Service "ping4" {
    import "generic-service"

    check_command = "ping4"

    assign where host.address
}

apply Service "ping6" {
    import "generic-service"

    check_command = "ping6"

    assign where host.address6
}


apply Service "disk" {
    check_command = "disk"

    // Check is executed on the remote command endpoint
    command_endpoint = host.vars.agent_endpoint

    assign where host.vars.agent_endpoint
}

apply Service "celery" {
  check_command = "celery"

  assign where host.vars.celery_broker
}

apply Service "http" for (http_check in host.vars.http_checks) {
  check_command = "http"

  vars.http_address = http_check.address
  vars.http_vhost = http_check.vhost
  vars.http_url = http_check.url
  vars.http_ssl = true
  vars.http_sni = true

  display_name = "http (" + vars.http_vhost + vars.http_url + ")"

  zone = "primary"

  assign where host.vars.http_checks
}
