object Host "dione.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"
}

object Host "titan.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"
}

object Host "rhea.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"
}

object Host "hyperion.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"
}

object Host "phoebe.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"
}

object Host "dns.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"
}

object Host "helene.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"
}
