object Host "helene.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"

    vars.b2_upload_max_hours = 170
    vars.b2_upload_datefile = "/tmp/last_b2_sync_labcode-backup"

    vars.dyndns_record_checks = {
        "direct_v4" = {
            "record_name" = "helene.int.sig.de.dyn.labcode.de"
            "nameserver" = "ns.labcode.de"
            "ipv4" = true
        }
        "direct_v6" = {
            "record_name" = "helene.int.sig.de.dyn.labcode.de"
            "nameserver" = "ns.labcode.de"
            "ipv6" = true
        }
        "external_v4" = {
            "record_name" = "helene.int.sig.de.dyn.labcode.de"
            "nameserver" = "dns.google.com"
            "ipv4" = true
        }
        "external_v6" = {
            "record_name" = "helene.int.sig.de.dyn.labcode.de"
            "nameserver" = "dns.google.com"
            "ipv6" = true
        }
    }
}
