object Host "titan.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"

    vars.borgmatic_backup_max_hours = 26

    vars.http_vhosts = {
        "web" = {
            "address" = "$address$",
            "vhost" = "labcode.de",
            "url" = "/"
        }
        "matrix" = {
            "address" = "$address$",
            "vhost" = "matrix.labcode.de",
            "url" = "/"
        }
    }

    vars.dyndns_record_checks = {
        "direct_v4" = {
            "record_name" = "titan.int.sig.de.dyn.labcode.de"
            "nameserver" = "ns.labcode.de"
            "ipv4" = true
        }
        "direct_v6" = {
            "record_name" = "titan.int.sig.de.dyn.labcode.de"
            "nameserver" = "ns.labcode.de"
            "ipv6" = true
        }
        "external_v4" = {
            "record_name" = "titan.int.sig.de.dyn.labcode.de"
            "nameserver" = "dns.google.com"
            "ipv4" = true
        }
        "external_v6" = {
            "record_name" = "titan.int.sig.de.dyn.labcode.de"
            "nameserver" = "dns.google.com"
            "ipv6" = true
        }
    }
}

object Host "rhea.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"
    vars.borgmatic_backup_max_hours = 26

    vars.check_postgres_connection = true
    vars.postgres_unixsocket = true
}

object Host "hyperion.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"
    vars.borgmatic_backup_max_hours = 26
}

object Host "phoebe.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"
    vars.borgmatic_backup_max_hours = 26
}

object Host "dns.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"
    vars.borgmatic_backup_max_hours = 26
}

object Host "helene.int.sig.de.labcode.de" {
    import "lxc-agent-host"

    vars.virtualization_parent = "tethys.int.sig.de.labcode.de"
    vars.os_type = "Debian"

    vars.b2_upload_max_hours = 170
    vars.b2_upload_datefile = "/tmp/last_b2_sync_labcode-backup"

    vars.dyndns_record_checks = {
        "direct_v4" = {
            "record_name" = "helene.int.sig.de.dyn.labcode.de"
            "nameserver" = "ns.labcode.de"
            "ipv4" = true
        }
        "direct_v6" = {
            "record_name" = "helene.int.sig.de.dyn.labcode.de"
            "nameserver" = "ns.labcode.de"
            "ipv6" = true
        }
        "external_v4" = {
            "record_name" = "helene.int.sig.de.dyn.labcode.de"
            "nameserver" = "dns.google.com"
            "ipv4" = true
        }
        "external_v6" = {
            "record_name" = "helene.int.sig.de.dyn.labcode.de"
            "nameserver" = "dns.google.com"
            "ipv6" = true
        }
    }
}
