object Host "tethys.int.sig.de.labcode.de" {
    import "agent-host"

    vars.os_type = "Debian"
    vars.zpool = "rpool"

    vars.ping4_address = "dione.int.sig.de.labcode.de"
    vars.ping6_address = "2001:470:7285:2::1"
    vars.ping6_wpl = 35
    vars.ping6_cpl = 50
}
