object Host "ganymed.het.hel.fi.n0emis.eu" {
    import "agent-host"

    vars.os_type = "Debian"

    vars.smtps_address = "$address$"
    vars.smtps_port = "465"

    vars.imaps_address = "$address$"
    vars.imaps_port = "993"

    vars.ssl_cert_checks = [{
        "port" = "993",
        "protocol" = "imaps",
        "cn" = ["ganymed.het.hel.fi.n0emis.eu", "mail.n0emis.eu"],
        "altnames" = true
    }, {
        "port" = "465",
        "protocol" = "smtps",
        "cn" = ["ganymed.het.hel.fi.n0emis.eu", "mail.n0emis.eu"],
        "altnames" = true
    }]

    vars.dig_checks = [{
        "expected_address" = "2a01:4f9:c010:7b6e::1"
    }]
    vars.dig_cloudflare_checks = [{
        "expected_address" = "2a01:4f9:c010:7b6e::1"
    }]
    vars.dig_google_checks = vars.dig_cloudflare_checks
}
