object Host "ganymed.het.hel.fi.n0emis.eu" {
    import "agent-host"

    vars.os_type = "Debian"

    vars.smtps_address = "$address$"
    vars.smtps_port = "465"

    vars.imaps_address = "$address$"
    vars.imaps_port = "993"
}
