/**
* The GraphiteWriter type writes check result metrics and
* performance data to a graphite tcp socket.
*/

object GraphiteWriter "graphite" {
    host = "{{ ha_node_address }}"
    port = 2013
    enable_send_thresholds = true
    enable_send_metadata = true
    enable_ha = true
}
