object Host "cetus.het.hel.fi.labcode.de" {
    import "agent-host"

    vars.os_type = "Debian"

    address6 = name

    vars.smtps_address = "$address$"
    vars.smtps_port = "465"

    vars.imaps_address = "$address$"
    vars.imaps_port = "993"

    vars.dig_lookup = name
    vars.dig_expected_address = "2a01:4f9:c010:1dcf::1"
}
