object Host "cetus.het.hel.fi.labcode.de" {
    import "agent-host"

    vars.os_type = "Debian"

    address6 = name

    vars.smtps_address = "$address$"
    vars.smtps_port = "465"

    vars.imaps_address = "$address$"
    vars.imaps_port = "993"

    vars.dig_checks = [{
        "expected_address" = "2a01:4f9:c010:1dcf::1"
    }]
    vars.dig_cloudflare_checks = [{
        "expected_address" = "2a01:4f9:c010:1dcf::1"
    }]
    vars.dig_google_checks = vars.dig_cloudflare_checks

    vars.ssl_cert_checks = [{
        "port" = "993",
        "protocol" = "imaps",
        "cn" = ["cetus.het.hel.fi.labcode.de", "mail.labcode.de"],
        "altnames" = true
    }, {
        "port" = "465",
        "protocol" = "smtps",
        "cn" = ["cetus.het.hel.fi.labcode.de", "mail.labcode.de"],
        "altnames" = true
     }]
}
