object Host "elara.het.nue.de.n0emis.eu" {
    import "agent-host"

    vars.os_type = "Debian"

    vars.dig_checks = [{
        "expected_address" = "2a01:4f8:c0c:34bc::1"
    }]
    vars.dig_cloudflare_checks = [{
        "expected_address" = "2a01:4f8:c0c:34bc::1"
    }]
    vars.dig_google_checks = vars.dig_cloudflare_checks
}
